header {
  text-align: center;
}

h1 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

form {
  width: 75%;
  margin: 10px auto 0;
}

.panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
