.container {
      padding: 0 15px;
}

header {
  text-align: center;
  background-color: #5DE396;
}

h1 {
  font-size: 25px;
  color: #011638;
}

h2, h3{
  color: #011638;
}

h3 {
  font-size: 18px;
}

i {
  color: #46A1D9;
}
form {
  width: 75%;
  margin: 10px auto 0;
}

.panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
  border:  1px solid #ccc;
  border-radius: 4px;
  height: 34px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  display: flex;
  &.rateIt {
    text-align: center;
  }

}

.form-group {
    margin-bottom: 10px;
}
