main.container {
  padding: 0 15px;
  max-width: 750px;

}

.panel .container {
  padding: 0;

}

.contacts .panel-heading {
  text-align: center;
  background: #00c593;
}

header {
  text-align: center;
  background: #11998e;
  background: -webkit-linear-gradient(to right, #11998e, #38ef7d);
  background: linear-gradient(to right, #11998e, #38ef7d);

}

h1 {
  font-size: 25px;
}

h2, h3{
}

h3 {
  font-size: 18px;
}

.nav-tabs {
  display: flex;
  justify-content:  space-evenly;
  border-bottom: 0px;
}


a {
  &#fullTabs-tab-1{
    color: #0B587C;
    text-transform: uppercase;

  }
  &#fullTabs-tab-2{
    color: #0B587C;
    text-transform: uppercase;
  }
  &#fullTabs-tab-3{
    color: #0B587C;
    text-transform: uppercase;
  }

  &.standard-button {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: #FFBC42;
      text-decoration: none;
    }
    &:active {
      color: #FFBC42;
    }
  }
}

i {
  color: #11998e;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  border:  1px solid #ccc;
  border-radius: 4px;
  height: 34px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  display: flex;
  &.rateIt {
    text-align: center;
  }

}

form {
  display: flex;
  flex-direction: column;
  margin: 10% 5%;
}

.form-group {
  margin-bottom: 10px;
}


button.btn {
  background-color: #11998e;
  display: flex;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background: #11998e;
  background: -webkit-linear-gradient(to right, #11998e, #38ef7d);
  background: linear-gradient(to right, #11998e, #38ef7d);
  border: 0px solid transparent;
  &:hover {
    color: #FFBC42;
    text-decoration: none;
  }
}

.panel.body {
  background-color:  #f5f5f5;
}
.tab-content>.active {
  background-color:  #f5f5f5;
  min-height: 400px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.nav>li>a {
  width: 200px;
  text-align: center;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color:  #f5f5f5;
  margin-right: 0px;
}


@media screen and (max-width: 1500px) and (min-width: 826px) {

  .xMobile {
    display: none;
  }

  .container {

    max-width: 750px;
  }
  .nav>li>a {
    width: 200px;
  }
}

@media screen and (max-width: 825px) and (min-width: 625px) {
  .xMobile {
    display: none;
  }

  .nav>li>a {
    width: auto;
  }
}

@media screen and (max-width: 624px) {
  .xFull {
    display: none;
  }

}
